@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-defult {
  font-family: "Fredoka", sans-serif;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.active {
  @apply font-medium tracking-wide text-[#00a0d4] transition-colors duration-200;
}

.banner-title {
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-size: 72px;
}

.banner-des {
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

@media (max-width: 575px) {
  .banner-title {
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 36px;
  }

  .banner-des {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  #root {
    padding: 0 10px;
  }
}

.cp-text {
  color: rgba(250, 242, 242, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

.footer-bg {
  background-color: #0099ff;
  color: white;
  opacity: 0.7;
}

.social-btn:hover {
  background: #f379a7;
}

/* .login {
  background-image: url("../src/assets/login-bg.jpg");
} */